@{
    ViewData["Title"] = "Home Page";
}
<style>
body {
            background-image: url(/img/background.png);
            background-size: 200%;
        }
</style>


<div class="text-center" style="color: aqua;">
    <h1 class="display-3">Quản lý thư viện</h1>
    <br>
    <h2 class="display-5" title="trưởng nhóm 2180608854">Lý Quang Hưng</h2>
    <h2 class="display-5" title="">Nguyễn Quốc Tỷ</h2>
    <h2 class="display-5" title="">Nguyễn Vũ Thùy Anh</h2>
  
</div>